.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__nombre {
    font-size: 4rem;
    color: var(--blanco);
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    text-align: center;
    margin: 1rem;
    line-height: 1.2;
}


.boton{
    border: 1rem solid var(--primario);
    text-align: center;
    margin: 0 auto;
}

.boton:hover{
    cursor: pointer;
}





