h3{
    margin: 0;
}

.item-count{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.item-button{
    width: 100px;
    color: #FFCE00;
    font-size: 30px;
}

.boton{
    padding: 2rem;
    color: #FFCE00;
    font-size: 25px;
    border-radius: 25px;
    margin-left: 5rem;
}
