.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto__precio {
    font-family: var(--fuentePrincipal);
    text-align: center;
    margin: 1rem;
    line-height: 1.2;
}
