.cart{
    display: flex;
    flex-direction: column;
}

input{
    width: 20%;
    height: 50%;
    background-color: var(--primario);
    color: var(--secundario);
    border: 3px solid var(--primarioOscuro);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    font-size: var(--fuentePrincipal);
}